.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .col-50
    {
        position: relative;
        width: 48%;

        .imgBx
        { 
            @include img_box(100%, 350px);

            img 
            {
                @include img_fluid;
            }
        }
    }
}

.titleText
{
    color: #111;
    font-size: 2em;
    font-weight: 300;

    span 
    {
        color: $secondary-color;
        font-weight: 700;
        font-size: 1.5em;
    }
}