.testimonials
{
    background-image: url(../images/bg2.png);
    background-size: cover;
}

.white .titleText,
.white p 
{
    color: #fff;
}

.testimonials
{
    .content
    {
        @include content(row);

        .box
        {
            width: 340px;
            margin: 20px;
            padding: 40px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .imgBx
            {
                @include img_box(80px, 80px);
                margin-bottom: 20px;
                border-radius: 50%;
                overflow: hidden;

                img 
                {
                    @include img_fluid;
                }
            }

            .text 
            {
               text-align: center;

               p 
               {
                   color: #666;
                   font-style: italic;
               }

               h3 
               {
                   margin-top: 20px;
                   color: $secondary-color;
                   font-size: 1em;
                   font-weight: 600;
               }
            }
        }/*fine div .box*/
    }/*fine div .content*/
}/*fine div .testimonials*/